---
import ArrowUpRight from "../components/icons/arrowUpRight.astro";
import Button from "../components/ui/Button.astro";
import { links } from "../data/links";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio Site - Links Importantes">
  <main class="h-[70vh]">
    <div class="flex flex-col justify-center h-full gap-4 max-w-[70vw]">
      {
        links.map((link) => (
          <Button variant="primary" href={link.href}>
            <span class="text-white/70">{link.name}</span>{" "}
            <ArrowUpRight class="text-blue-500 text-lg" />
          </Button>
        ))
      }
    </div>
  </main>
</Layout>
