---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio Site - Links Importantes">
  <main class="h-[65vh]">
    <div class="flex flex-col justify-center h-full gap-4 max-w-[70vw]">
      <a
        href="#"
        class="w-full bg-zinc-600/70 backdrop-blur-md rounded-md flex gap-2 items-center py-3 px-4 justify-center"
        >Meu site</a
      >
      <a
        href="#"
        class="w-full bg-zinc-600/70 backdrop-blur-md rounded-md flex gap-2 items-center py-3 px-4 justify-center"
        >Meu site</a
      >
      <a
        href="#"
        class="w-full bg-zinc-600/70 backdrop-blur-md rounded-md flex gap-2 items-center py-3 px-4 justify-center"
        >Meu site</a
      >
      <a
        href="#"
        class="w-full bg-zinc-600/70 backdrop-blur-md rounded-md flex gap-2 items-center py-3 px-4 justify-center"
        >Meu site</a
      >
    </div>
  </main>
</Layout>
