---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio Site - Soluções">
  <main
    class="flex flex-col justify-center h-full px-4 gap-4 max-w-[70vw] text-white/60 text-lg"
  >
    <span>Desenvolvimento Web</span>
    <hr />
    <span>Desenvolvimento Mobile</span>
    <hr />
    <span>UI/UX Design</span>
    <hr />
    <span>E-commerce</span>
    <hr />
    <span>Seo</span>
  </main>
</Layout>
