---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio Site - Sobre">
  <main class="flex flex-col justify-center h-full px-4">
    <p class="text-lg max-w-[70vw] text-white/60">
      Com vasto conhecimento em desenvolvimento e UI/UX design, tenho me
      dedicado em desenvovimento web em geral, como Landing Pages, E-commerces,
      Blogs, Dashboard etc. Atualmente minha especialidade é desenvolvimento
      Front-end. Resido em Paragominas/PA, onde atuo como freelancer.
    </p>
  </main>
</Layout>
