---
import { about } from "../data/about";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio Site - Sobre">
  <main class="h-[70vh]">
    <div class="flex flex-col h-full justify-center">
      <p class="text-lg max-w-[70vw] text-white/60">
        {about.content}
      </p>
    </div>
  </main>
</Layout>
