---
let currentPath = Astro.url.pathname.slice(1);
if (currentPath === "links") {
  currentPath = "Links Importantes";
} else if (currentPath === "servicos") {
  currentPath = "Serviços";
}

const isHomePage = currentPath === "";
---

{
  !isHomePage && (
    <header class="w-full px-5 mx-auto">
      <div class="flex justify-between items-center py-6 mt-2">
        <span class="uppercase font-medium text-lg text-white/60">
          {currentPath}
        </span>
        <a href="/">
          <img
            src="https://github.com/vinicius-dsr.png"
            alt="Foto do perfil"
            class="w-16 h-16 rounded-full"
          />
        </a>
      </div>
    </header>
  )
}
