---

---

<nav
  class="fixed right-4 top-1/2 transform -translate-y-1/2 flex flex-col gap-4 bg-zinc-800/90 backdrop-blur-md py-3 px-2 rounded-full"
>
  <a href="/sobre" class="p-2 text-white">ℹ️</a>
  <a href="/solucoes" class="p-2 text-white">📁</a>
  <a href="/links" class="p-2 text-white">🔗</a>
  <a href="/contatos" class="p-2 text-white">✉️</a>
  <a href="#whatsapp" class="p-2 text-white">📞</a>
</nav>
