---
import { nav } from "../data/nav";

const currentPath = Astro.url.pathname;
const normalizedCurrentPath = currentPath.endsWith("/")
  ? currentPath.slice(0, -1)
  : currentPath;
---

<nav
  class="fixed right-4 top-1/2 transform -translate-y-1/2 flex flex-col gap-4 bg-gray-800/90 backdrop-blur-md py-3 px-2 rounded-full"
>
  {
    nav.map((item) => {
      const Icon = item.icon;
      // Normalize item href the same way
      const normalizedHref = item.href.endsWith("/")
        ? item.href.slice(0, -1)
        : item.href;
      return (
        <a
          href={item.href}
          target={item.target}
          class:list={[
            "p-2 transition-colors",
            normalizedCurrentPath === normalizedHref
              ? "text-white"
              : "text-zinc-400/60 hover:text-white",
          ]}
        >
          <Icon class="h-6 w-6" />
        </a>
      );
    })
  }
</nav>
