---
import Contact from "./icons/contact.astro";
import Info from "./icons/info.astro";
import Link from "./icons/link.astro";
import Solution from "./icons/solution.astro";
import Whatsapp from "./icons/whatsapp.astro";

import { nav } from "../data/nav";

const currentPath = Astro.url.pathname;
---

<nav
  class="fixed right-4 top-1/2 transform -translate-y-1/2 flex flex-col gap-4 bg-zinc-800/90 backdrop-blur-md py-3 px-2 rounded-full"
>
  {
    nav.map((item) => {
      const Icon = item.icon;
      return (
        <a
          href={item.href}
          target={item.target}
          class:list={[
            "p-2 transition-colors",
            currentPath === item.href
              ? "text-white"
              : "text-white/60 hover:text-white",
          ]}
        >
          <Icon class="h-6 w-6" />
        </a>
      );
    })
  }
</nav>
